body {
    background-image: url(../img/groovepaper.png);
    background-repeat: repeat repeat;
}

hr { 
    display: block; height: 1px;
    border: 0; border-top: 1px solid #0e6F68;
    margin: 1em 0; padding: 0; 
}

.container {
    width: 910px;
    border: 15px solid #16783b;
}

#middle_border {
    width: 890px;
    padding: 10px;
}

#inner_border {
    width: 860px;
    padding: 10px;
    border: 5px solid #0e6F68;
}

#header {
    width: 860px;
    text-align: center;
}

#header h4 {
    color: #0e6F68;
    font-family: 'Calligraffitti', cursive;
}

#header_names {
    width: 100%;
    height: 70px;
    margin-top: 20px;
}

.header_name {
    float: left;
    width: 40%;
    height: 100%;
    font-size: 250%;
    font-family: 'Calligraffitti', cursive;
}

.header_middle {
    float: left;
    width: 20%;
    height: 100%;
    font-size: 800%;
    color: #16783b;
}

#content {
    margin-top: 40px;
    margin-bottom: 40px;
}

#nav_container {
   width: 175px;
   position: relative;
   top: -10px;
}

#nav_container ul {
    list-style: none;
}

.circle {
    background: #16783b;
    border-radius: 50%;
    border: 2px solid #0e6F68;
    width: 100px;
    height: 100px; 
    margin-bottom: 5px;
    margin-left: 5px;
}

.circle.active {
    background: white;
}

.circle a {
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    position: relative;
    top: 40px;
    color: white;
}

.circle.active {
    background: white;
    border: 1px solid #16783b;
}

.circle.active span {
    color: #16783b;
    font-weight: bold;
    display: block;
    width: 100px;
    text-align: center;
    position: relative;
    top: 40px;
}

#content_container {
    width: 610px;
    padding-left: 25px;
}

.circle a:hover {
    text-decoration: none;
}

.circle.active a {
    color: #16783b;
    font-weight: bold;
}

.carousel {
    margin-bottom: 0;
}

#newsletter_form {
    margin-top: 20px;
    margin-bottom: 30px;   
    width: 835px;
    border-radius: 15%;
    border: 2px solid #0e6F68;
    padding: 10px;
    color: white;
    background: #16783b;
    text-align: center;
}

#newsletter_form input[type=email] {
    width: 280px;
}
