<h3>Events</h3>

<table class="table">
  <tr>
    <th colspan="2" style="width:200px;">Date</th>
    <th>Time</th>
    <th>Event</th>
  </tr>
  <tr>
    <td>Saturday</td><td>August 31</td>
    <td>Morning</td>
    <td>Golf with the Groom (Details Below)</td>
  </tr>
  <tr>
    <td>Saturday</td><td>August 31</td>
    <td>Morning</td>
    <td>Run away with the Bride (Details Below)</td>
  </tr>
  <tr>
    <td>Saturday</td><td>August 31</td>
    <td>6pm</td>
    <td>Rehearsal Dinner at the <a href="http://www.towndockrestaurant.com/" target="_blank">Town Dock</a></td>
  </tr>
  <tr>
    <td>Saturday</td><td>August 31</td>
    <td>Evening</td>
    <td>Bride and Groom Meet and Greet at the <a href="http://www.towndockrestaurant.com/" target="_blank">Town Dock</a></td>
  </tr>
  <tr>
    <td>Sunday</td><td>September 1</td>
    <td>5pm</td>
    <td>Wedding Ceremony</td>
  </tr>
  <tr>
    <td>Sunday</td><td>September 1</td>
    <td>6pm</td>
    <td>Cocktail Hour</td>
  </tr>
  <tr>
    <td>Sunday</td><td>September 1</td>
    <td>7pm</td>
    <td>Wedding Reception</td>
  </tr>
  <tr>
    <td>Monday</td><td>September 2</td>
    <td>Morning</td>
    <td>Post-wedding breakfast</td>
  </tr>
  <tr>
    <td>Monday</td><td>September 2</td>
    <td>Afternoon</td>
    <td>Bride and Groom leave for honeymoon</td>
  </tr>
</table>

<br/>
<h3>Golf with the Groom</h3>
<p>
  Email <a href="mailto:dennis.kuczynski@gmail.com" target="_blank">Dennis</a> if you're interested in taking part in a possible golf outing the morning of Saturday, August 31st. 
</p>

<br/>
<h3>Run away with the Bride</h3>
<p>
  A brisk morning jog with the bride the morning of Saturday, August 31st.
</p>
