<div id="mainCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img src="img/proposal.jpg" width="610"/>
        <div class="carousel-caption">
          <h4>Welcome to our wedding website</h4>
          <p>Hey everyone, thank you for taking the time to check out our website! We are more than excited to see all of you at our wedding and cannot thank you enough for the wonderful emails and messages.</p>
        </div>
    </div>
    <div class="item">
        <img src="img/proposal.jpg" width="665" height="499"/>
        <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>...</p>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#mainCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#mainCarousel" data-slide="next">&rsaquo;</a>
</div>