<h3>The Venue</h3>
<p>
  <a href="http://en.wikipedia.org/wiki/Saint_Michaels,_Maryland" target="_blank">St. Michael's, Maryland</a><br/>
  St. Michaels is located on Maryland’s Eastern Shore. The historic town dates back to the mid-1600s when it served as a trading post for area tobacco farmers and trappers. 
</p>

<p>
  It is known as "The Town that Fooled the British" because of a legend about a clever defense strategy during the War of 1812. The people of St. Michaels hung their lanterns in treetops, and when the British invaded, they were fooled into thinking the town was farther away than it really was. Consequently the British cannons "overshot" the town.
</p>

<p>
  <img src="http://stmichaelsmd.org/assets/images/homerotatephotos/Harbor.jpg" width="425"/>
</p>

<p>
  <a href="http://www.the-oaks.com/" target="_blank">The Oaks Waterfront Inn</a><br/>
  A gracious country inn tucked back along a winding road, set against the backdrop of a quiet cove and surrounded by 10 acres of our grounds and enchanting waterfront.
</p>

<p>
  <img src="http://www.the-oaks.com/homeimages/waterfront_1.jpg" width="425"/>
</p>

<br/>

<h3>Travel</h3>

<p>
  Depending on the summer traffic, St. Michaels is about a four and a half hour
  drive from New York/Northern New Jersey and about an hour and a half from
  both Baltimore and Washington, which have the closest major airports.
</p>

<p>
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=St+Michaels,+MD+21663&amp;ie=UTF8&amp;hq=&amp;hnear=St+Michaels,+Talbot,+Maryland&amp;gl=us&amp;t=m&amp;ll=38.785402,-76.223316&amp;spn=0.046833,0.072956&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=St+Michaels,+MD+21663&amp;ie=UTF8&amp;hq=&amp;hnear=St+Michaels,+Talbot,+Maryland&amp;gl=us&amp;t=m&amp;ll=38.785402,-76.223316&amp;spn=0.046833,0.072956&amp;z=13&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  <br/><br/>
</p>

<br/>

<h3>Lodging</h3>

<p>
St. Michaels is a popular summer destination! If you are able to join us, <strong>we
recommend making hotel reservations early</strong>.
</p>

<p>
  <ul>
    <li>
      Best Western, St. Michaels<br/>
      Phone: (410) 745-3333<br/>
      Note: Two night minimum required<br/>
      Rate: $179 per night<br/>
      <br/>
    </li>
    <li>
      Harbourtowne Golf Resort, St. Michaels<br/>
      Phone: (410) 745-9066 or (800) 446-9066<br/>
      Note: Two night minimum required<br/>
      Rate: $229 per night<br/>
      <br/>
    </li>
    <li>
      Comfort Inn, Easton<br/>
      Phone: (410) 820-8333<br/>
      Rate: $125 per night<br/>
      <br/>
    </li>
    <li>
      Holiday Inn Express, Easton<br/>
      Phone: (410) 819-6500<br/>
      Rate: $147 per night<br/>
      <br/>
    </li>
  </ul>
</p>

<p>
Mention the Carman/Kuczynski Wedding room block when you call. Reserve
your room by June 30 to guarantee these rates. Transportation will be provided
to and from The Oaks for the above hotels.
</p>

<h4>Other Lodging Options</h4>
<p>
  There are several other options for accommodations in the area.  Consider, perhaps, a charming bed and breakfast. Please see the
  links below for for details.
  <ul>
    <li><a href="http://www.stmichaelsmd.org" target="_blank">www.stmichaelsmd.org</a></li>
    <li><a href="http://www.eastonmd.org" target="_blank">www.eastonmd.org</a></li>
  </ul>
</p>

<br/>

<h3>Things to do in St. Michael's</h3>
<p>
  Clearly the most exciting thing to do is attend our wedding! 
</p>
<p>
  Although, we'd love it if you could make a fun weekend of the trip. Check out the quaint St. Michael's storefronts or learn about the Chesapeake Bay at the Chesapeake Bay Maritime Museum. You can even take to the water on a lighthouse tour or boat cruise. We also love to visit the St. Michael's Winery.
  <ul>
    <li><a href="http://historic.stmichaelsmd.org/list/category/n-attractions-and-museums-108">Attraction List</a></li>
  </ul>
</p>
<p>
  Our favorite restaurants in the area are:
  <ul>
    <li><a href="http://www.thecrabclaw.com/" target="_blank">Crab Claw</a></li>
    <li><a href="http://www.towndockrestaurant.com/" target="_blank">Town Dock</a></li>
    <li><a href="http://carpenterstreetsaloon.com/" target="_blank">Carpenter St. Saloon</a></li>
    <li><a href="http://www.foxysstmichaels.com/index.html" target="_blank">Foxy's</a></li>
    <li><a href="http://www.avaspizzeria.com/">Ava's</a></li>
    <li><a href="http://www.theossteakhouse.com/" target="_blank">Theo's</a></li>
  </ul>
</p>
<p>
  And email <a href="mailto:dennis.kuczynski@gmail.com" target="_blank">Dennis</a> if you're interested in taking part in a possible golf outing the morning of Saturday, August 31st. 
</p>

<h3>Itinerary</h3>
<p>
  The schedule below is still being determined, except for the wedding times.
</p>

<table class="table">
  <tr>
    <th colspan="2">Date</th>
    <th>Time</th>
    <th>Event</th>
  </tr>
  <tr>
    <td>Saturday</td><td>August 31</td>
    <td>morning</td>
    <td>Possible group golf outing</td>
  </tr>
  <tr>
    <td>Saturday</td><td>August 31</td>
    <td>evening</td>
    <td>Rehearsal Dinner for Wedding Party</td>
  </tr>
  <tr>
    <td>Saturday</td><td>August 31</td>
    <td>evening</td>
    <td>Bride and Groom Meet and Greet at a local bar</td>
  </tr>
  <tr>
    <td>Sunday</td><td>September 1</td>
    <td>5pm</td>
    <td>Wedding Ceremony</td>
  </tr>
  <tr>
    <td>Sunday</td><td>September 1</td>
    <td>6pm</td>
    <td>Cocktail Hour</td>
  </tr>
  <tr>
    <td>Sunday</td><td>September 1</td>
    <td>7pm</td>
    <td>Wedding Reception</td>
  </tr>
  <tr>
    <td>Monday</td><td>September 2</td>
    <td>morning</td>
    <td>Post-wedding brunch</td>
  </tr>
  <tr>
    <td>Monday</td><td>September 2</td>
    <td>afternoon</td>
    <td>Bride and Groom leave for honeymoon</td>
  </tr>
</table>
