<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=980" />

        <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="css/vendor/dropzone.css">
        <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div id="middle_border">
                <div id="inner_border">
                    <div id="header">
                        <div>
                            <h4>September 1, 2013</h4>
                            <div id="header_names">
                                <div class="header_name">Heather<br/><br/>Carman</div>
                                <div class="header_middle">&infin;</div>
                                <div class="header_name">Dennis<br/><br/>Kuczynski</div>
                            </div>
                            <h4>The Oaks &#8212; St. Michaels, Maryland</h4>
                        </div>
                    </div>

                    <hr/>

                    <div id="content" class="row">
                        <div id="nav_container" class="span4">
                            <ul>
                                <% if request.path_info == '/' %>
                                  <li class="circle active"><span>Welcome</span></li>
                                <% else %>
                                  <li class="circle"><a href="/">Welcome</a></li>
                                <% end %>

                                <% if request.path_info == '/information' %>
                                  <li class="circle active"><span>Information</span></li>
                                <% else %>
                                  <li class="circle"><a href="/information">Information</a></li>
                                <% end %>

                                <% if request.path_info == '/events' %>
                                  <li class="circle active"><span>Events</span></li>
                                <% else %>
                                  <li class="circle"><a href="/events">Events</a></li>
                                <% end %>

                                <% if request.path_info == '/music' %>
                                  <li class="circle active"><span>Music</span></li>
                                <% else %>
                                  <li class="circle"><a href="/music">Music</a></li>
                                <% end %>

                                <% if request.path_info == '/photos' %>
                                  <li class="circle active"><span>Photos</span></li>
                                <% else %>
                                  <li class="circle"><a href="/photos">Photos</a></li>
                                <% end %>

                                <% if request.path_info == '/registry' %>
                                  <li class="circle active"><span>Registry</span></li>
                                <% else %>
                                  <li class="circle"><a href="/registry">Registry</a></li>
                                <% end %>
                            <ul>
                        </div>
                        <div id="content_container" class="span8">

                            <%= yield %>

                        </div>
                    </div>

                    <div class="row">
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup" class="span12">
                            <form id="newsletter_form" class="form-inline" action="http://heatheranddennis.us6.list-manage.com/subscribe/post?u=898194b85f23e133a6e43a168&amp;id=f8e3c08e8c" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                                <span>Let us know your email and we'll keep you updated&nbsp;&nbsp;</span>
                                <input type="text" value="" name="EMAIL" id="mce-EMAIL" placeholder="your@email.com">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
                            </form>
                        </div>
                        <!--End mc_embed_signup-->                           
                    </div>

                    <div class="row">
                        <div class="span3"></div>
                        <div class="span6">
                            <a href="http://daisypath.com/"><img src="http://dwdf.daisypath.com/mUwum5.png" width="400" height="80" border="0" alt="Daisypath Wedding tickers" /></a>
                        </div>
                        <div class="span3"></div>
                    </div>

                </div>
            </div>
        </div>

        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/dropzone.js"></script>

        <script src="js/main.js"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-38260142-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
