<h3>The Music</h3>

<h4>Bay Deejays</h4>
<p>
  Our DJ will let you request songs for the wedding reception. Please go to the following link: 
  <ul><li><a href="http://www.baydeejays.com/guest-requests.htm" target="_blank">Bay Deejays</a></li></ul>
</p>
<p class="alert alert-success">
  Use our wedding date (September 1st) and the password: “weddingcarman” (all lower-case without the quotes). You will also need to request a pin by email or text message for access.
</p>

<h4>Chesapeake String Trio</h4>
<p>
  A string trio will be providing music for our reception and cocktail hour. You can see their songlist here:
  <ul><li><a href="https://sites.google.com/site/chesapeakestrings/our-repertoire-Chesapeake-Strings-songs-Maryland-String-Trio/complete-song-list" target="_blank">Chesapeake Strings Songlist</a></li></ul>
</p>