<h3>Photos</h3>

<p class="alert alert-success">
  Please upload any photos using the form below.<br/>
  If you have several photos, you can just drag them onto the screen.
</p>

<form action="https://HeatherAndDennis_WeddingPhotos.s3.amazonaws.com" method="post" enctype="multipart/form-data" class='direct-upload'>
	<input type="hidden" name="key"/>
    <input type="hidden" name="AWSAccessKeyId" value="<%= ENV['AWS_ACCESS_KEY_ID'] %>"/>
    <input type="hidden" name="acl" value="public-read"/>
    <input type="hidden" name="policy"/>
    <input type="hidden" name="signature"/>
    <input type="hidden" name="success_action_status" value="201"/>

    <div class="well">
	    <input type="file" name="file">
	        <div class=".progress.progress-striped.active">
	            <div class=".bar"></div>
	        </div>
	    </input>
	</div>
</form>