<div id="dropzone">
	<form action="/submitPhoto" class="dropzone" method="post" enctype="multipart/form-data">
	  <div class="fallback">
	    <input name="file" type="file" multiple />
	  </div>
	</form>
</div>

<hr/>
<a class="btn btn-success offset3" href="/photos#gallery">Refresh Gallery</a>
<hr/>

<a name="gallery"/>
<h3>Gallery</h3>

<div class="photos">
<% @photo_bucket.objects.each do |object| %>
    <% if object.key.start_with? 'thumb_' %>
	    <img class="photo" width="610" src="<%= AWS::S3::S3Object.url_for(CGI::unescape(object.key), 'heatheranddennis_wedding', use_ssl: true) %>"/>
    <% end %>
<% end %>
</div>
