<h3>Test Your Heather and Dennis Knowledge?</h3>

<form action="/submit-quiz" method="POST">
  <h4>1. Heather and Dennis' first date was to:</h4>
  <label><input type="radio" name="quiz[one]" value="a"/>&nbsp;The movie: "Life As We Know It"</label>
  <label><input type="radio" name="quiz[one]" value="b"/>&nbsp;Cranberry Fest at Rockefeller Center</label>
  <label><input type="radio" name="quiz[one]" value="c"/>&nbsp;Drinks at Mile Square</label>
  <label><input type="radio" name="quiz[one]" value="d"/>&nbsp;Coffee at Starbucks</label>

  <h4>2. Heather and Dennis' second date was to:</h4>
  <label><input type="radio" name="quiz[two]" value="a"/>&nbsp;A haunted house</label>
  <label><input type="radio" name="quiz[two]" value="b"/>&nbsp;A carriage ride around central park</label>
  <label><input type="radio" name="quiz[two]" value="c"/>&nbsp;A jog around central park</label>
  <label><input type="radio" name="quiz[two]" value="d"/>&nbsp;Summerstage</label>

  <h4>3. Heather and Dennis have never been on a date to:</h4>
  <label><input type="radio" name="quiz[three]" value="a"/>&nbsp;a horror movie festival</label>
  <label><input type="radio" name="quiz[three]" value="b"/>&nbsp;an abandoned subway tour</label>
  <label><input type="radio" name="quiz[three]" value="c"/>&nbsp;a kabuki stage show</label>
  <label><input type="radio" name="quiz[three]" value="d"/>&nbsp;a gin festival in a magic forest</label>

  <h4>4. The worst food Heather and Dennis ever cooked was:</h4>
  <label><input type="radio" name="quiz[four]" value="a"/>&nbsp;Lentil Pasta Sauce</label>
  <label><input type="radio" name="quiz[four]" value="b"/>&nbsp;Carmelized Radishes</label>
  <label><input type="radio" name="quiz[four]" value="c"/>&nbsp;Kale and Bacon Soup</label>
  <label><input type="radio" name="quiz[four]" value="d"/>&nbsp;Baingan Bharta</label>

  <h4>5. The name of Dennis and Heather's car is:</h4>
  <label><input type="radio" name="quiz[five]" value="a"/>&nbsp;Lord Grantham</label>
  <label><input type="radio" name="quiz[five]" value="b"/>&nbsp;Felix</label>
  <label><input type="radio" name="quiz[five]" value="c"/>&nbsp;Fernando</label>
  <label><input type="radio" name="quiz[five]" value="d"/>&nbsp;Mr. Alternate Side of the Street</label>

  <h4>6. Dennis proposed to Heather:</h4>
  <label><input type="radio" name="quiz[six]" value="a"/>&nbsp;near the lake in Prospect Park</label>
  <label><input type="radio" name="quiz[six]" value="b"/>&nbsp;after running a half-marathon</label>
  <label><input type="radio" name="quiz[six]" value="c"/>&nbsp;on a beach in Nantucket</label>
  <label><input type="radio" name="quiz[six]" value="d"/>&nbsp;at dinner on their anniversary</label>

  <br/><br/>
  <input type="submit" value="Submit Answers"/>
</form>