<h3>Gift Registry</h3>
<p>
    We are registered at:<br/>
    <ul>
        <li><a href="http://www.crateandbarrel.com/Gift-Registry/">Crate and Barrel</a></li>
        <li><a href="http://www.macys.com/registry/wedding/registryhome">Macy's</a></li>
    </ul>
</p>